<!DOCTYPE html>
<html lang="en">
<head>
    <title>농담곰유형테스트 - 농담곰MBTI 심리테스트</title>

    <meta name="viewport" content="width=device-width"/>
    <meta charSet="utf-8"/>

    <link rel="stylesheet" href="css/style.css" data-n-g=""/>
    <noscript data-n-css=""></noscript>

    <style></style>

    <script>
        window.onload = function() {
            <!-- select button -->
            var q02 = sessionStorage.getItem('Q02_A');

            if(q02 != null) {
                var id = "btn" + sessionStorage.getItem('Q02_A');

                document.getElementById(id).style.border="3px solid #E12B7F";
                document.getElementById(id).style.color="#E12B7F";
                document.getElementById(id).style.outline="0";
            }

            sessionStorage.setItem('J', 0);
            sessionStorage.setItem('P', 0);
        }

        function page(page) {
            if(page == 'prev') {
                if(sessionStorage.getItem('Q01_A') != null) {
                    location.href = '/test1';
                }
            } else if(page == 'next') {
                if(sessionStorage.getItem('Q02_A') != null) {
                    location.href = '/test3';
                }
            }
        }

        function nextp(val) {
            if(sessionStorage.getItem('Q02_A') != null) {
                sessionStorage.removeItem('Q02_A');
            }

            var j = sessionStorage.getItem('J');
            var p = sessionStorage.getItem('P');

            if(val == 1) {
                sessionStorage.setItem('Q02_A', 1);
                sessionStorage.setItem('J', Number(j + 1));
            } else if(val == 2) {
                sessionStorage.setItem('Q02_A', 2);
                sessionStorage.setItem('P', Number(p + 1));
            } else if(val == 3) {
                sessionStorage.setItem('Q02_A', 3);
                sessionStorage.setItem('J', Number(j + 1));
            } else if(val == 4) {
                sessionStorage.setItem('Q02_A', 4);
                sessionStorage.setItem('P', Number(p + 1));
            }
            location.href = '/test3';
        }
    </script>
</head>

<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png"/>
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png"/>
<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
<link rel="manifest" href="/manifest.json"/>

<meta name="msapplication-TileColor" content="#ffffff"/>
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
<meta name="theme-color" content="#ffffff"/>

<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async=""></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<body oncontextmenu='return false' ondragstart='return false' onselectstart='return false'>
<div id="__next">
    <section class="ant-layout">
        <header class="ant-layout-header global-header">
            <div>
                <button class="page_btn prev_page" id="prev_page" onclick="page('prev');"><</button>
                <h1 style="display:inline; position:relative; top:13px;"><a>🐽 농담곰유형테스트</a></h1>
                <button class="page_btn next_page" id="next_page" onclick="page('next');">></button>
            </div>
        </header>

        <main class="ant-layout-content" id="ant-layout-content">
            <div class="bar-light-gray">
                <div class="bar-hot-pink"></div>
            </div>
            <!--                <svg width="480" height="50"></svg>-->
            <div>
                <div class="ant-space-item" style="margin-bottom:16px">
                    <div class="global-wrapper result question" style="text-align:center">
                        <center>
                            배달 앱에서 가게를 고르는 스타일은?
                        </center>
                    </div>
                </div>
            </div>

            <div class="ant-space-item" style="margin-bottom:16px">
                <button style="width:100%" type="button" class="ant-btn ant-btn-q" id="btn1" onclick="nextp(1);">
                    <font color="#E12B7F">✓</font> 단골 가게, 단골 메뉴들이 정해져 있고 거의 그 안에서 주문한다.
                </button>
                <button style="width:100%" type="button" class="ant-btn ant-btn-q" id="btn2" onclick="nextp(2);">
                    <font color="#E12B7F">✓</font> 그때그때 당기는 메뉴로 검색해서 주문한다.
                </button>
                <button style="width:100%" type="button" class="ant-btn ant-btn-q" id="btn3" onclick="nextp(3);">
                    <font color="#E12B7F">✓</font> 쿠폰이 있거나 배달비 싸고 빨리 오는 곳 위주로 주문한다.
                </button>
                <button style="width:100%" type="button" class="ant-btn ant-btn-q" id="btn4" onclick="nextp(4);">
                    <font color="#E12B7F">✓</font> 가게 목록을 탐방하며 느낌이 가는 곳을 고른다.
                </button>
            </div>
        </main>

        <div style="width:100%;display:flex;place-content:center">
            <ins class="kakao_ad_area" style="display:none" data-ad-unit="DAN-92tJj5t6h8KDpfaP" data-ad-width="300" data-ad-height="250"></ins>
        </div>
        <br/>
        <div>
            <div class="">
                <div style="width:100%;display:flex;place-content:center">
                    <ins class="kakao_ad_area" style="display:none" data-ad-unit="DAN-6G5XCKZRhPvlwaTa" data-ad-width="320" data-ad-height="100"></ins>
                </div>
            </div>
        </div>

        <footer class="ant-layout-footer">© 2021.<!-- -->
            <a style="color:#000;font-weight:bold" href="https://github.com/MiraeChoi" target="_blank">MR CHOI</a> all rights reserved.<br/>
            <a href="https://github.com/MiraeChoi" target="_blank">
                <span class="ant-avatar ant-avatar-circle ant-avatar-image"><img src="../img/mr.jpg" style="width:30px;height:30px;border-radius:15px;margin-top:5px;"/></span>
            </a>
        </footer>
    </section>
</div>
</body>
</html>