<meta charset="UTF-8">
    <div class="bar-light-gray">
        <div class="bar-hot-pink"></div>
    </div>
<!--                <svg width="480" height="50"></svg>-->
    <div>
        <div class="ant-space-item" style="margin-bottom:16px">
            <div class="global-wrapper result question" style="text-align:center">
                <center>
                    나의 주말 먹방형태는 주로
                </center>
            </div>
        </div>
    </div>

    <div class="ant-space-item" style="margin-bottom:16px">
        <button style="width:100%" type="button" class="ant-btn ant-btn-q">
            <font color="#E12B7F">✓</font> 항상 밥약속 술약속이 잡혀 있다. 파티, 모임, 동호회 등등...
        </button>
        <button style="width:100%" type="button" class="ant-btn ant-btn-q">
            <font color="#E12B7F">✓</font> 집에서 혼자 먹고싶은 거 요리해 먹거나 배달시켜 먹는 게 힐링이지!
        </button>
        <button style="width:100%" type="button" class="ant-btn ant-btn-q">
            <font color="#E12B7F">✓</font> 내가 가고 싶은 모임이 있으면 참석하고 아니면 집에서 먹는다.
        </button>
        <button style="width:100%" type="button" class="ant-btn ant-btn-q">
            <font color="#E12B7F">✓</font> 좋아하는 사람들과 외식이나 홈 파티를 즐긴다.
        </button>
    </div>

    <div style="width:100%;display:flex;place-content:center">
        <ins class="kakao_ad_area" style="display:none" data-ad-unit="DAN-92tJj5t6h8KDpfaP" data-ad-width="300" data-ad-height="250"></ins>
    </div>
    <br/>
    <div>
        <div class="">
            <div style="width:100%;display:flex;place-content:center">
                <ins class="kakao_ad_area" style="display:none" data-ad-unit="DAN-6G5XCKZRhPvlwaTa" data-ad-width="320" data-ad-height="100"></ins>
            </div>
        </div>
    </div>
