body {
    background-image: url('../img/bgimg.jpg')
}
h1 {
    text-align: center;
    font-weight: normal;
    font-size: 15pt;
    padding: 0 0 30px;
    color: #E12B7F;
}
h2 {
    text-align: center;
    font-weight: normal;
    font-size: 15pt;
}
a {
    text-decoration: none;
}
p {
    font-size: 10pt;
    font-color: #E12B7F;
    margin: 0 0 20px;
}
#__next {
    margin: 0 auto;
    width: 480px;
}
.global-wrapper {
    padding: 30px 0;
    border: 3px solid #505050;
    border-radius: 10px;
    background-color: white;
}
.ant-space-item {
    display: inline;
}
.ant-row {
    margin: 0 auto;
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}
.ant-col {
    width: 100px;
}
.ant-btn-primary {
    align: center;
    margin-top: 15px;
    border: 0;
    border-radius: 10px;
    background-color: #E12B7F;
    color: white;
    text-decoration: none;
    font-size: 12pt;
    height: 50px;
}
.ant-btn-primary:hover {
    color: white;

    background-color: #ED5396;
    text-decoration: none;
}
.ant-btn-primary:focus {
    border: none;
}
.ant-radio-group {

}
.ant-radio-group-outline {
    weight: 100px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}
.ant-radio-button-wrapper {
    height: 30px;
    border: 1px solid #D9D9D9;
}