body {
    background-image: url('../img/bgimg.jpg')
}
#__next {
    margin: 0 auto;
    width: 480px;
}
.global-wrapper {
    background-color: white;
}
.ant-space-item {
    display: inline;
}
.ant-row {
    margin: 0 auto;
    width: 400px;
    display: flex;
}
.ant-col {
    display: flex;
}
.ant-btn {
    align: center;
}