body {
    background-image: url('../img/bgimg.jpg')
}
h1 {
    font-weight: normal;
    font-size: 15pt;
    color: #E12B7F;
}
h2 {
    text-align: center;
    font-weight: normal;
    font-size: 15pt;
}
a {
    text-decoration: none;
    border: 0;
}
a:focus {
    outline: 0;
}
p {
    font-size: 10pt;
    font-color: #E12B7F;
}
#__next {
    margin: 0 auto;
    width: 480px;
}
.bar-light-gray {
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background-color: #F5F5F5;
    margin-bottom: 8px;
}
.bar-hot-pink {
    width: 0%;
    height: 8px;
    border-radius: 8px;
    background-color: #E12B7F;
}
.global-header {
    weight: 480px;
    height: 54px;
    text-align: center;
    margin-bottom: 10px;
}
.global-wrapper {
    padding: 30px 40px;
    border: 3px solid #505050;
    border-radius: 10px;
    background-color: white;
}
.ant-row {
    margin: 0 auto;
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}
.ant-col {
    width: 100px;
}
.ant-btn {
    align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12pt;
}
.ant-btn:focus {
    outline: 0;
}
.ant-btn-primary {
    background-color: #E12B7F;
    border: 3px solid #E12B7F;
    color: white;
    margin-top: 10px;
    height: 50px;
}
.ant-btn-primary:hover {
    color: white;
    background-color: #ED5396;
    border: 3px solid #ED5396;
}
.ant-btn-secondary {
    background-color: white;
    border: 3px solid #E12B7F;
    height: 50px;
}
.ant-btn-secondary>a {
    color: #E12B7F;
}
.ant-btn-secondary>a:hover {
    color: #ED5396;
}
.ant-btn-q {
    height: auto;
    border-radius: 10px;
    border: 3px solid #D3D3D3;
    background-color: white;
    margin-bottom: 8px;
    padding: 15px 30px;
    text-align: left;
    line-height: 150%;
}
.ant-btn-q:hover {
    border: 3px solid #E12B7F;
    color: #E12B7F;
}
.ant-btn-q:focus {
    border: 3px solid #E12B7F;
    color: #E12B7F;
    outline: 0;
}
.page_btn {
    width: 50px;
    height: 48px;
    border-radius: 10px;
    border: 3px solid #D3D3D3;
    font-size: 20pt;
    text-align: center;
    line-height: 48px;
    background-color: white;
}
.page_btn[disabled] {
    border: 3px solid #D9D9D9;
    background-color: #F5F5F5;
    color: #B8B8B8;
}
.prev_page {
    float: left;
}
.next_page {
    float: right;
}
.question {
    line-height: 150%;
}
.ant-space-horizontal {
    margin-top: 20px;
    margin-bottom: 40px;
}
.ant-radio-group-outline {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
}
.ant-radio-button-wrapper {
    weight: 100px;
    height: 20px;
    padding: 5px 13px 5px 13px;
}
.ant-radio-button-wrapper:first-child {
    border-radius: 10px 0 0 10px;
    border: 1px solid #D9D9D9;
}
.ant-radio-button-wrapper:nth-child(2) {
    border-radius: 0 10px 10px 0;
    border: 1px solid #D9D9D9;
    border-left: 0;
}
.ant-radio-button-wrapper>span {
    font-size: 10pt;
}
.ant-space-align-start {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-share {
    background-color: white;
    border: 0;
}
.ant-layout-footer {
    margin-top: 40px;
    font-size: 10pt;
    text-align: center;
}